.BagSummary {
  background-color: rgb(238, 238, 238);
  width: 20vw;
  padding: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2vh;
  hr {
    height: 0px;
    width: 80%;
    border: 1px dotted black;
    margin: 2vh;
  }
}

.invalidIndicator {
  position: absolute;
  right: 0;
  color: red;
}

.CheckOutForm {
  .formfield {
    position: relative;
    width: 100%;
    height: 7vh;
    display: flex;
    font-size: large;

    align-items: center;
    label {
      width: 20%;
    }
    input {
      width: 80%;
      border: none;
      border-bottom: 2px rgb(224, 222, 222) solid;
      font-size: large;
      outline: none;
      padding: 0.5vh 1vh;
      transition-duration: 0.5s;

      &:focus {
        transition-duration: 0.5s;

        border-bottom: 2px black solid;
      }
    }
  }
  #SaveDetails {
    border: none;
    outline: none;
    padding: 1vh 3vw;
    cursor: pointer;
    font-size: large;
    background-color: rgb(240, 186, 86);
    color: white;
    font-weight: bolder;
  }
  b {
    color: green;
    margin-left: 2vw;
  }
}

.PersonalDetails {
  width: 40vw;
  padding: 2vh;
  display: flex;

  flex-direction: column;
  margin: 2vh;
}

.CheckOutHolder {
  display: flex;
}

.OrderSummaryItems {
  .OrderBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18vw;
    margin: 1vh 0vh;
  }

  .ProductImage {
    height: 8vh;
    margin-right: 1vw;
  }
  .ProductText {
    display: flex;
    div {
      width: 6vw;
    }
  }
}

.PaymentModal {
  width: 100%;
  height: 100vh;
  transition-duration: 1s;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 101;
  background-color: rgba(71, 69, 69, 0.589);
  display: flex;
  align-items: center;
  justify-content: center;

  #closeButton {
    position: absolute;
    right: 1vw;
    cursor: pointer;
    z-index: 2000;
  }
  .PaymentInfo {
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    height: 70vh;
    width: 50vw;
    position: relative;
    padding: 2vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    h1 {
      position: absolute;
      background-color: white;
    }
    justify-content: flex-start;
    #productInsideLogo {
      position: fixed;
      height: 10vh;
      right: 13vw;
      bottom: 8vh;
    }
    .ActualSummary {
      margin-top: 7vh;
      padding-bottom: 10vh;

      img {
        height: 5vh;
        margin-left: 0;
      }
      display: flex;
      hr {
        height: 0px;
        width: 20vw;
        border: 1px solid black;
        margin: 1vh 0;
      }
      .BagDetails {
        margin-right: 2vw;
        width: 20vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        h6 {
          font-size: larger;
          font-weight: bolder;
          color: rgb(235, 166, 38);
          text-align: center;
        }
        h2 {
          text-align: center;
        }
      }
    }
  }
}

#couponBox {
  width: 20vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: aliceblue;

  button {
    border: none;
    padding: 0.5vh 2vw;
    font-weight: bold;
    cursor: pointer;
  }

  input {
    text-align: center;
    letter-spacing: 3px;
    border: none;
    outline: none;
    padding: 4px 0;
  }
}

.SuccessfulPayment {
  width: 50vw;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  img {
    height: 30vh;
  }
  a {
    color: orange;
    font-size: larger;
    margin: 1vh;
  }
}

.PaymentHolder {
  display: flex;
  flex-direction: column;
  margin: 2vh 0vh;
}

.PaymentButtons {
  border: none;
  outline: none;
  padding: 1vh 3vw;
  margin: 1vh 0vh;
  font-size: large;
  background-color: rgb(223, 173, 82);
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

.PayOnDelivery {
  width: 50vw;
  height: 30vh;
  background-color: rgba(73, 71, 71, 0.911);
  position: fixed;
  right: 25vw;
  top: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    font-size: large;
    color: white;
    width: 70%;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .NavBar {
    h2 {
      margin: 0 2vw;
    }
  }
  .BagSummary {
    width: 90vw;
  }

  .invalidIndicator {
    position: absolute;
    right: 0;
    top: -1vh;
    color: red;
  }

  .CheckOutForm {
    .formfield {
      width: 100%;
      height: 7vh;
      display: flex;
      font-size: medium;
    }
    #SaveDetails {
      border: none;
      outline: none;
      padding: 1vh 3vw;
      cursor: pointer;
      font-size: large;
      color: white;
      font-weight: bolder;
    }
    b {
      color: green;
      margin-left: 2vw;
    }
  }

  .PersonalDetails {
    width: 90vw;
    margin-top: 15vh;
  }

  .OrderSummaryItems {
    .OrderBox {
      width: 80vw;
    }

    .ProductImage {
      height: 8vh;
      margin-right: 2vw;
    }
    .ProductText {
      display: flex;
      div {
        width: 30vw;
      }
    }
  }

  .PaymentModal {
    height: 100vh;
    width: 100vw;

    #closeButton {
      right: 2vw;
    }
    .PaymentInfo {
      height: 90vh;
      width: 90vw;

      #productInsideLogo {
        display: none;
      }
      .ActualSummary {
        hr {
          width: 75vw;
        }
        .BagDetails {
          width: 80vw;

          h6 {
            font-size: larger;
            font-weight: bolder;
            color: rgb(235, 166, 38);
            text-align: center;
          }
          h2 {
            text-align: center;
          }
        }
      }
    }
  }

  #couponBox {
    width: 80vw;
    height: 10vh;
  }

  .SuccessfulPayment {
      margin-top: 10vh;
    width: 90vw;
    height: fit-content;
    font-size: small;
    img {
      height: 30vh;
    }
    a {
      color: orange;
      font-size: larger;
      margin: 1vh;
    }
  }

  .PaymentHolder {
    display: flex;
    flex-direction: column;
    margin: 2vh 0vh;
  }

  .UserDetails{
      width: 82vw;
      margin-top: 3vh;
  }

  .PaymentButtons {
    border: none;
    width: 100%;
    outline: none;
    padding: 1vh 3vw;
    margin: 1vh 0vh;
    font-size: large;
    color: white;
    font-weight: bolder;
    cursor: pointer;
  }

  .PayOnDelivery {
    width: 90vw;
    height: 70vh;
    position: fixed;
    right: 5vw;
    top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
      font-size: large;
      color: white;
      width: 90%;
      text-align: center;
      margin-bottom: 3vh;
    }
  }
}
