.TrackBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  h1 {
    margin: 5vh 0;
  }
  input {
    width: 20vw;
    padding: 1vh;
    font-size: medium;
    outline: none;
    margin-right: 1vh;

    border: 1px solid gray;
  }

  table {
    margin: 5vh;
    border: 1px solid;
  }
  th,
  td {
    padding: 2vh;
    border: 1px solid;
  }
}

@media screen and (max-width: 1024px) {
  .TrackBox {
      text-align: left;
    h1 {
      margin: 15vh 0vh 2vh 0;
    }
    input {
      width: 60vw;
    }

    table {
      margin: 4vh;
      border: 0px solid;
      display: flex;
    }
    th,
    td {
      padding: 1vh;
      border: 0.2px solid rgb(209, 200, 185);
      display: flex;
      height: 8vh;
    }
    #AddressTable{
        height: 17vh;
    }
  }
}
